html, body {margin: 0px; padding: 0px;height: 100%;}

#heatmapArea{
	position:relative;
	width:500px;
	height:500px;	
}

#iframe{
    border: 1px solid green;
	width: 1000px;
	height: 4600px;
}

#wrapper {
	position: absolute;
	top: 0;
	right:0;
	bottom:0;
	left: 0;
	height: 500px;
	width: 500px;
	z-index: 1;
	overflow: scroll;
}